In [ ]:
USE Chinook


--1
PRINT('First Statement')
RETURN
PRINT('Second Statement')
PRINT('Third Statement')
GO

In [ ]:
--2
DECLARE @Counter int = 0
IF @Counter = 1
BEGIN
SELECT TOP 1 * FROM Artist
SELECT TOP 1 * FROM Genre
END
SELECT TOP 1 * FROM MediaType
GO

In [ ]:
--3
DECLARE @Counter int = 1
IF @Counter = 1
BEGIN
SELECT TOP 1 * FROM Artist
END
ELSE
BEGIN
SELECT TOP 1 * FROM Genre
END
SELECT TOP 1 * FROM MediaType
GO

In [ ]:
--4
DECLARE @Counter int = 1
WHILE @Counter <= 5
BEGIN
PRINT CONCAT('Counter Number: ', @Counter)
SET @Counter += 1
END
PRINT('End of Loop.')
GO

In [ ]:
--5
DECLARE @EmployeeName AS table (FullName nvarchar(50))
DECLARE @FullName AS nvarchar(50)
DECLARE @Counter int = 1
DECLARE @MaxId int
SELECT @MaxId = COUNT(*) FROM Employee
WHILE (@Counter <= @MaxId)
BEGIN
SELECT
    @FullName = CONCAT(FirstName, ' ', LastName)
FROM Employee
WHERE EmployeeId = @Counter
INSERT INTO @EmployeeName
VALUES(@FullName)
SET @Counter += 1
END
SELECT * FROM @EmployeeName
GO

In [ ]:
--6
DECLARE @SumTotal numeric(9,2) = 0
DECLARE @Counter int = 1
DECLARE @MaxId int
SELECT @MaxId = COUNT(*) FROM Invoice
WHILE (@Counter <= @MaxId)
BEGIN
SELECT 
    @SumTotal += Total 
FROM Invoice
WHERE Total < 1.00 AND InvoiceId = @Counter
SET @Counter += 1
END
SELECT @SumTotal AS [Sum Total of Invoices less than a Dollar]
GO

In [ ]:
--7
DECLARE @RunningTable AS table (Amount numeric(9,2), RollingTotal numeric(9,2), Note nvarchar(50))
DECLARE @Amount numeric(9,2) = 0
DECLARE @RollingTotal numeric(9,2) = 0
DECLARE @Note nvarchar(50)
DECLARE @Counter int = 1
DECLARE @MaxId int
SELECT @MaxId = COUNT(*) FROM Invoice
WHILE (@Counter <= @MaxId)
BEGIN
SELECT
    @Amount = Total
    ,@RollingTotal += Total
    ,@Note = CONCAT('InvoiceId: ', @Counter)
FROM Invoice I
WHERE InvoiceId = @Counter
IF @RollingTotal >= 50
    BEGIN
    INSERT INTO @RunningTable
    VALUES(@Amount, @RollingTotal, 'Total greater than 50.')
    BREAK
    END
INSERT INTO @RunningTable
VALUES(@Amount, @RollingTotal, @Note)
SET @Counter += 1
END
SELECT * FROM @RunningTable
GO

In [ ]:
--8
DECLARE @RandomArtist nvarchar(250)
SELECT TOP 1 @RandomArtist = Name FROM Artist ORDER BY NEWID()
PRINT(@RandomArtist)
GO 7

In [ ]:
--9
PRINT('First Statement')

GOTO Third

Third:
PRINT('Third Statement')
GOTO SECOND

Second:
PRINT('Second Statement')
RETURN
GO

In [ ]:
--10
DECLARE @EmployeeT AS table (FirstName nvarchar(50),LastName nvarchar(50),EmployeeId int,City nvarchar(50))
DECLARE @FirstName AS nvarchar(50)
DECLARE @LastName AS nvarchar(50)
DECLARE @EmployeeId AS int
DECLARE @City AS nvarchar(50)
DECLARE @Counter int = 1
DECLARE @MaxId int
SELECT @MaxId = COUNT(*) FROM Employee
WHILE (@Counter <= @MaxId)
BEGIN
SELECT
    @FirstName = FirstName
    ,@LastName = LastName
    ,@EmployeeId = EmployeeId
    ,@City = City
FROM Employee
WHERE EmployeeId = @Counter
INSERT INTO @EmployeeT
VALUES(@FirstName, @LastName, @EmployeeId, @City)
RAISERROR('%s %s has and ID of %d and lives in the city of %s.', 10, 1, @FirstName, @LastName, @EmployeeId, @City) WITH NOWAIT
SET @Counter += 1
END

In [ ]:
/*
Bonus Question.
Shows how RAISERROR can be used to track the progress of long query with multiple statements.
Using WAITFOR DELAY to simulate a time delay.
Click on the Messages tab immediately after starting the query to see the messages print as they are
executed.
*/
DECLARE @StartTime varchar(50) = CAST(GETDATE() AS Time(0))
DECLARE @EndTime varchar(50)
DECLARE @Duration int
--1st pass
RAISERROR('1st Query StartTime: %s',10,1,@StartTime) WITH NOWAIT
WAITFOR DELAY '00:00:05'
SET @EndTime = CAST(GETDATE() AS Time(0))
SET @Duration = DATEDIFF(s,@StartTime,@EndTime)
RAISERROR('1st Query EndTime:   %s; Duration %d seconds',10,1, @EndTime, @Duration) WITH NOWAIT
--2nd pass
SET @StartTime = @EndTime
RAISERROR('2nd Query StartTime: %s',10,1,@StartTime) WITH NOWAIT
WAITFOR DELAY '00:00:03'
SET @EndTime = CAST(GETDATE() AS Time(0))
SET @Duration = DATEDIFF(s,@StartTime,@EndTime)
RAISERROR('2nd Query EndTime:   %s; Duration %d seconds',10,1, @EndTime, @Duration) WITH NOWAIT
--3rd pass
SET @StartTime = @EndTime
RAISERROR('3rd Query StartTime: %s',10,1,@StartTime) WITH NOWAIT
WAITFOR DELAY '00:00:02'
SET @EndTime = CAST(GETDATE() AS Time(0))
SET @Duration = DATEDIFF(s,@StartTime,@EndTime)
RAISERROR('3rd Query EndTime:   %s; Duration %d seconds',10,1, @EndTime, @Duration) WITH NOWAIT
GO