In [ ]:
--1
SELECT
    column1 AS Zipcode
    ,CONCAT(column2, column3) AS ZipType
    ,column4 AS City
    ,LEFT(column5,2) AS State
    ,SUBSTRING(column5,3,LEN(column5)) AS County
    ,column6 AS Country
    ,column7 AS Latitude
    ,column8 AS Longitude
    ,column9 AS Population
FROM zip_code_ragged_right
WHERE LEFT(column5,2) = 'CA' AND column9 > 50000
ORDER BY column9 DESC


SELECT
    COUNT(*)
FROM zip_code_ragged_right
WHERE LEFT(column5,2) = 'CA' AND column9 > 50000
        --169

In [ ]:
--2
SELECT TOP 1
    column1 AS Zipcode
    ,column4 AS City
    ,LEFT(column5,2) AS State
    ,SUBSTRING(column5,3,LEN(column5)) AS County
    ,column6 AS Country
    ,column9 AS Population
FROM zip_code_ragged_right
ORDER BY column9 DESC


SELECT TOP 1
    column1 AS Zipcode
FROM zip_code_ragged_right
ORDER BY column9 DESC
        --60629